# Database configuration
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/synapse" # change @postgres:5432/synapse to @localhost:5432/synapse if running locally
REDIS_URL="redis://localhost:6379/0"
# JWT configuration
SECRET_KEY="example"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRATION_TIME_MINUTES=1440
REFRESH_TOKEN_EXPIRATION_TIME_DAYS=7
NO_AUTH=false

# Email configuration
MAIL_USERNAME=seu email
MAIL_PASSWORD=sua apppassword
MAIL_FROM=seu email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
EMAIL_TEMPLATE_PATH=./src/templates/email/template_report.html
RESET_TEMPLATE_PATH=./src/templates/email/template_reset_password.html
HOST="0.0.0.0"
PORT=80

# Logging configuration
LOKI_ENDPOINT="http://loki:3100/loki/api/v1/push"
GITHUB_URL=https://github.com/Grupo-Syntax-Squad/
SCHEDULED_REPORT_GENERATION_MINUTES=10
CLIENT_DATABASE_FILES_FOLDER_PATH=/utils