version: "3.8"

services:
  synapse:
    container_name: synapse
    build: .
    ports:
      - "8000:8000"
    networks:
      - monitoring-network
    env_file:
      - .env
    volumes:
      - ./utils:/utils
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: synapse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data # persist data outside of container
    networks:
      - monitoring-network

networks:
  monitoring-network:
